.HomePageContent {
    padding: 50px 10px;
    color: #F6F6F8;
}
.containers {
    display: flex;
    justify-content:space-around;
    margin: 15px;
}
.container {
    width: 25%;
    border: 2px solid black;
    border-radius: 15px;
    padding: 15px
}
.container:hover{
    transition: all 1s ease;
    background-color: #000;
}
.containerTitle {
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}
.missionTitle {
    text-align: center;
    margin: 0 auto;
    width: 60%;
}
.involvedTitle {
    text-align: center;
}
.firstImageHomePage {
    margin-top: 50px;
    width: 100%;
    opacity: 55%;
}