@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.App {
    margin: 0 auto;
    max-width: 1536px;
    background-color: #23233B;
}
a {
    text-decoration: none;
    color: inherit;
}
